.form-block
  background-color: #fff
  display: inline-block
  margin: 0 auto
  border: 2px solid $main-color
  border-radius: 25px
  color: $link-color
  margin-bottom: 3.75rem
  padding-bottom: 2rem

  .change-form
    .list-item
      padding: 1rem
      flex-basis: 50%

      &:first-child
        border-right: 2px solid $main-color
        border-top: 1px solid $main-color
        border-top-left-radius: 20px
        border-top-right-radius: 25px

      &:last-child
        border-bottom: 2px solid $main-color

      a
        display: flex
        flex-direction: row
        align-items: center
        margin: 0 auto
        justify-content: center
        
        img
          margin-right: 0.625rem


  form
    padding-left: 2rem
    padding-right: 2rem
    a
      color: $link-color

    .form-label

      &:not(:last-child)
        margin-bottom: 1rem

      label
        display: block
        text-align: left
        margin-bottom: 1rem

      &.big
        input
          min-width: 524px