header
  width: 100%
  position: absolute
  left: 0
  top: 0

  &.authorized-header
    position: relative

  &.header
    margin: 25px 0

  .header-inner > div
    display: flex
    flex-direction: row
    justify-content: space-between

  .nav
    align-self: center

    .authorized-list
      li
        &:not(:last-child)
          margin-right: 36px
        a
          font-size: 24px
          color: #41404AB2

          &.active
            color: $main-color

          &:hover
            color: $main-color

    .header-list
      li:not(:last-child)
        margin-right: 15px