// StartPage
.start-block
  justify-content: space-between

  > div
    width: 50%

  .img-block img
    margin: 0 auto

  @media (max-width: $screen-sm-max)
    .description-block
      width: 100%

    .img-block
      display: none

// LoginPage
.login-block
  justify-content: center

  @media (max-width: $screen-md-max)
    .login-inner
      width: 100%

  h2
    margin-bottom: 36px

    @media (max-width: $screen-md-max)
      margin-bottom: 18px

  .card
    margin-bottom: 48px

    @media (max-width: $screen-md-max)
      margin-bottom: 36px

  .forget
    margin-top: 10px
    display: flex
    justify-content: flex-end

    a
      font-size: 18px
      color: $additional-text-color

      @media (max-width: $screen-md-max)
        font-size: 16px

  .login-bottom
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .btn
      margin-bottom: 10px

// LoginPage
.signup-block
  justify-content: center

  @media (max-width: $screen-md-max)
    .signup-inner
      width: 100%

  h2
    margin-bottom: 36px

    @media (max-width: $screen-xs-max)
      margin-bottom: 18px

  .card
    margin-bottom: 48px

    @media (max-width: $screen-md-max)
      margin-bottom: 36px

  .signup-bottom
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .btn
      margin-bottom: 10px

.forget-block
  justify-content: center

  @media (max-width: $screen-md-max)
    .forget-inner
      width: 100%

  h2
    margin-bottom: 36px

    @media (max-width: $screen-xs-max)
      margin-bottom: 18px

  .card
    margin-bottom: 48px

    @media (max-width: $screen-md-max)
      margin-bottom: 36px

  .forget-bottom
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.projects-block,
  .projescts-list
    display: block

    .project-item

      &:not(:last-child)
        margin-bottom: 30px

      > a
        display: flex
        justify-content: space-between

        .img-block
          width: 280px
          height: 180px
          display: flex
          align-items: center
          justify-content: center

          img
            margin: auto

        .description-block
          h4
            color: $text-color
          p
            color: $additional-text-color

.project-block
  .project-info
    display: flex
    justify-content: space-between

    .img-block
      display: flex
      align-items: center
      justify-content: center
      margin-right: 20px

      img
        margin: auto

    .description-block
      width: 100%

      h4
        color: $text-color
      p
        color: $additional-text-color

  .table-users,
  .table-builds
    width: 100%

    th
      font-family: 'Inter', sans-serif
      font-style: normal
      font-weight: 400
      font-size: 18px
      line-height: 22px
      color: rgba(65, 64, 74, 0.85)
      width: 25%
      text-align: left
      padding-bottom: 20px

    td
      font-family: 'Inter'
      font-style: normal
      font-weight: 400
      font-size: 20px
      line-height: 24px
      color: #41404A
      padding-top: 20px
      padding-bottom: 20px

    tr:not(:first-child)
      border-bottom: 1px solid rgba(66, 17, 171, 0.4)

  .table-builds

    td,th
      padding: 20px

    tr:not(:first-child)
      border: none
      outline: 1px solid rgba(255, 255, 255, 0.7)
      cursor: pointer

      td:first-child
        border-bottom-left-radius: 25px
        border-top-left-radius: 25px
      td:last-child
        border-bottom-right-radius: 25px
        border-top-right-radius: 25px

  .projects-link-list
    display: flex
    flex-direction: row
    justify-content: center
    margin-bottom: 40px

    li > button
      font-family: 'Inter'
      font-style: normal
      font-weight: 400
      font-size: 24px
      line-height: 29px

      background: none
      border: none
      outline: none
      cursor: pointer

    li:not(:last-child)
      margin-right: 50px
