// StartPage
.start-block
  justify-content: space-between

  > div
    width: 50%

  .img-block img
    margin: 0 auto

  @media (max-width: $screen-sm-max)
    .description-block
      width: 100%

    .img-block
      display: none

// LoginPage
.login-block
  justify-content: center

  .forget
    margin-top: 10px
    display: flex
    justify-content: flex-end

    a
      font-size: 18px
      color: $additional-text-color

  .login-bottom
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .btn
      margin-bottom: 10px

// LoginPage
.signup-block
  justify-content: center

  .signup-bottom
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .btn
      margin-bottom: 10px

.forget-block
  justify-content: center

  .forget-bottom
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center